<nav class="navbar sticky-top navbar-expand-sm navbar-dark fixed-top" style="background-color: mediumaquamarine" >
  <a class="navbar-brand" href="#">BioMarket</a>
  <div class="container align-content-center">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link " routerLink="/nosPrduits">Nos produits</a>
      </li>
      <li class="nav-item" *ngIf="isAppManager()">
        <a class="nav-link" routerLink="/suppliers">Suppliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" *ngIf="securityService.kc.authenticated">
        <a class="nav-link dropdown-toggle" id="connexion" data-toggle="dropdown">
          {{(securityService.kc.tokenParsed)}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item clickable" (click)="onLogout()">SingOut</a>
          <a class="dropdown-item clickable" (click)="onChangePass()">Change passwords</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!securityService.kc.authenticated">
        <a class="clickable text-white" (click)="onLogin()">Login</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet>

</router-outlet>
