<body>
<div>
  <div class="container">
    <br><br>
    <table class="table table-dark table-hover">
      <thead>
      <tr>
        <th>Produit</th>
        <th>Detail</th>
        <th>Prix</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of products">
        <td>{{p.name}}</td>
        <td>{{p.detail}}</td>
        <td>{{p.price}}</td>
      </tr>
      </tbody>
    </table><br><br>
    <table class="table table-dark table-hover">
      <thead>
      <tr>
        <th>Produit</th>
        <th>Detail</th>
        <th>Prix</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of products">
        <td>{{p.name}}</td>
        <td>{{p.detail}}</td>
        <td>{{p.price}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <br><br><br><br><br><br><br>

</div>



</body>
